@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
    font-family: 'GowunBatang-Bold';
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
}

/*header*/

.nav {
    height: 70px;
    display: flex;
    background: white;
}

.nav>h1 {
    margin: 10px 30px 10px 40px;


}

.search_box {
    background: rgba(250, 250, 250, 1.0);
    margin-left: 60px;
}

.search-in {
    background: rgba(250, 250, 250, 1.0);
    width: 200px;
    height: 50px;
    border: none;
    margin: 10px auto;
    border-radius: 5px;
}

.search-btn {
    background: rgba(250, 250, 250, 1.0);
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    color: turquoise;
    transition: 0.2s;

}

.mume {
    position: relative;
    left: 200px;
    display: flex;
    width: 500px;
    margin: 0 auto;
    justify-content: flex-end;
}

.mume>li {
    margin-left: 50px;
    margin-top: 25px;
}

.mume>li:hover {
    cursor: pointer;
    color: turquoise;
    transition: 0.2s;
}

.mume-store:hover>a {
    cursor: pointer;
    color: turquoise;
    transition: 0.2s;
}

.mume-store-list>li>a:hover {
    cursor: pointer;
    color: gray;
    transition: 0.2s;
}

/*mume store drop*/
.mume-store {
    display: inline-block;
    position: relative;
}

.mume-store-list {
    position: absolute;
    display: none;
    right: -31px;
    z-index: 2;
    width: 100px;
    background-color: rgba(250, 250, 250, 0.5);

}

.displys {
    display: block;
}

.mume-store-list>li {
    margin: 20px auto;
    text-align: center;

    font-size: 15px;
}

/* 모달구간 */
.model {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(250, 250, 250, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 3;

}

#model_x {
    float: left;
    position: relative;
    left: 93%;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background: rgba(250, 250, 250, 0.5);
}

.model_login {
    position: absolute;
    top: 230px;
    left: 740px;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.login_title {
    text-align: center;
    margin: 50px auto;
}

.id_in {
    display: block;
    width: 100%;
    height: 100%;
}

.input_con {
    width: 80%;
    height: 30px;
    position: relative;
    left: 32px;
    margin: 15px auto;
    border-radius: 7px;
    border-color: white;
}

.remember-me {
    padding: 50px;
    margin: 10px auto;
    position: relative;
    left: 32px;
}

.remember-txt {
    position: relative;
    left: 32px;
}

.login_btn {
    position: absolute;
    bottom: 80px;
    left: 42px;
    width: 320px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.lnfo_btn {
    position: absolute;
    bottom: 30px;
    left: 42px;
    width: 320px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.btns {
    background-color: #007bff;
    border-color: #007bff;
}

.btns:hover {
    color: white;
    background-color: #007bff8e;
    transition: 0.2s;
}

.model_show {
    display: block;
}

.body_flow {
    overflow-y: hidden;
}

/* 모달구간 끝 */

/*본문*/
.qna_main {
    margin: 80px auto;
    width: 50%;
}
.en_font{
    color: cornflowerblue;
}

.qna_main_title {
    margin: 100px auto;
}

.qna_main_box1 {
    border: #CCC 1px solid;
    width: 80%;
    height: auto;
}

.box1_qna1 {
    padding: 20px;
    font-size: 14px;

    color: #444;
    cursor: pointer;
}
.box_too{
    margin-top: 70px;
}
.none{
    display: none;
  margin-top: 10px;
  font-size: 20px;
}
.active{
    display: block;
}
.question{
    all: unset;
}
.opne{
    font-weight: bold;
}

/* 콘텐츠 부분 */
aside{
    position: fixed;
    top: 200px;
    left: 78%;
}

.aside_main{
    width: 250px;
    height: 350px;
    border: 1px solid #CCC;
}
.qna_img{
    width: 250px;
    height: auto;
    cursor: pointer;
}
.qna_img:hover{
    transform: scale( 1.1 );
}
.tel{
    font-weight: bold;
    
    font-size: 24px;
    letter-spacing: 5px;
}
.tel_number{
    font-size: 28px;
    font-weight: bold;
}
.aside_main2{
    margin-top: 30px;
    width: 250px;
    height: 140px;
    border: 1px solid #CCC;
}
.aside_home_name{
    font-weight: bold;
    font-size: 30px;
}
.aside_home_cont{
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: justify;
}
.aside_main2 div:nth-child(2){
    margin-top: 20px;
}
/* 콘텐츠 end */


/*footer*/
footer {

    display: flex;
}

footer>div:first-child {
    flex: 3;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

footer>div:last-child {
    flex: 9;
    margin: 20px;
    line-height: 22px;
}